<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.opsctask">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".CollectionManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_case_ify_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSCTask">
        <activity android:name=".ShowCollectionActivity" />
        <activity android:name=".CreateItemActivity" />
        <activity android:name=".ShowItemActivity" />
        <activity android:name=".CollectionViewActivity" />
        <activity android:name=".CreateCollectionActivity" />
        <activity android:name=".cameraActivity" />

        <activity
            android:name=".LoginActivity_1"
            android:icon="@drawable/ic_case_ify_logo"
            android:exported="true"
            android:label="Case-ify"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>